{% extends "blog/base.html" %}
{% load static %}
{% block content %}
{% for album in playlists|slice:":1" %}
 <div class="single-channel-page" id="content-wrapper">
            <div class="single-channel-image">
                <img  alt=""  width="100%" height="300" src="{{album.author.profile.cover_image.url}}">
                <div class="channel-profile">
                    <img class="channel-profile-img" alt="" src="{{album.author.profile.image.url}}">
                    <div class="social hidden-xs">
                        Social &nbsp;
                        <a class="fb" href="#">Facebook</a>
                        <a class="tw" href="#">Twitter</a>
                        <a class="gp" href="#">Google</a>
                    </div>
                </div>
            </div>
            <div class="single-channel-nav">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="channel-brand" href="#">{{album.author.username}}<span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Profile
                           </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">View Profile</a>
                                    <a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile_pk' album.author.pk %}">Posts</a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link" href="{% url 'user-category' album.author.username %}">Gallery <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'user-playlist' album.author.username %}">Playlist</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'favorited-posts' album.author.username %}">Favorites</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>

                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button> &nbsp;&nbsp;&nbsp;
                             {% if user.is_authenticated %}
                                  {% if not album.author in friends %}
                              <div class="btn btn-outline-light btn-sm"><a href="{% url 'change_friends' 'add' album.author.pk %}"><button type="button" class="btn btn-success btn-sm border-none">Follow</button></a></div>
                               {% elif album.author in friends %}
                              <div class="btn btn-outline-light btn-sm"><a href="{% url 'change_friends' 'remove' album.author.pk %}"><button type="button" class="btn btn-success btn-sm border-none">Followed</button></a></div>
                              {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </nav>
            </div>

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
        <div class="video-block section-padding">
            <div class="main-title">
                <div class="btn-group float-right right-action">
                    <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                    </div>
                </div>
               <h6>{{album.author.username}}'s Video Playlists
                    {% if user.username == album.author.username %}<a href="{% url 'album-create' %}"> <i class="fas fa-plus-circle fa-fw"></i></a> {% endif %}
                </h6>
                <hr>
            </div>
          {% endfor %}
            <div class="swiper-container images-carousel">
                <div class="swiper-wrapper">
                   {% for album in playlists %}
                    <div class="swiper-slide">
                        <div class="image-wrap">
                            <div class="image-info">
                                <h2 class="mb-3">{{album.name}}</h2>
                                <a href="{% url 'category-videos' album.name %}" class="btn btn-outline-white py-2 px-4">More videos</a>
                                <a class="dropdown-item" href="{% url 'album-update' album.id %}"><i class="fas fa-fw fa-sync"></i></a>
                                  <a class="dropdown-item" href="{% url 'album-delete' album.id %}"><i class="fas fa-fw fa-trash"></i></a>
                            </div>
                           {% if album.image %}
                            <img src="{{album.photo.url}}" alt="Image">{% else %} <img src="{{album.author.profile.image.url}}" alt="Image">{% endif %}
                        </div>
                    </div>
               {% endfor %}
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer ml-0">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 col-sm-6">
                    <p class="mt-1 mb-0"><strong class="text-dark">Vidoe</strong>.
                        <small class="mt-0 mb-0"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                        </small>
                    </p>
                </div>
                <div class="col-lg-6 col-sm-6 text-right">
                    <div class="app">
                        <a href="#"><img alt="" src="img/google.png"></a>
                        <a href="#"><img alt="" src="img/apple.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- /.content-wrapper -->
{% endblock content %}
